################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebGentialBookStore/.vs/WebGentialBookStore
/WebGentialBookStore/WebGentialBookStore/bin/Debug/netcoreapp3.1
/WebGentialBookStore/WebGentialBookStore/obj
